<html lang="en"><head>
    <!--[if lt IE 10]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta property="og:url" content="freehesap.com/iletisim">
    <meta name="title" content="Freehesap.com | İletişim">
    <meta name="description" content="Freehesap.com | İletişim">
    <meta name="keywords" content="Bedava Spotify Premium Hesaplar, Spotify Free Premium Accounts,Spotify account,freehesap, Free hesap, freehesap.com, spotify hesap, spotify premium account, freehesap premium, freehesap spotfiy,spotify,spotify hesap, spotify hesap al,free spotify hesap, spotify generator, account generator, spotify account generator, generator, spohesap, spo hesap">
    <meta property="og:image" content="https://freehesap.com/assets/images/spo.png">
    <meta name="robots" content="index, follow">
    <title>Freehesap.com | İletişim</title>
    <link rel="shortcut icon" href="./assets/images/spo.png">
    <link rel="stylesheet" href="./assets/fonts/fontawesome/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="./assets/plugins/animation/css/animate.min.css">
    <link rel="stylesheet" href="./assets/plugins/prism/css/prism.min.css">
    <link rel="stylesheet" href="./assets/css/style.css">
    <link rel="stylesheet" href="./assets/css/layouts/dark.css">
    <!-- Fonts -->
    <link rel="stylesheet" href="./assets/fonts/font-awesome/font-awesome.css">
    <link rel="stylesheet" href="./assets/fonts/web-icons/web-icons.min.css">
    <link rel="stylesheet" href="./assets/fonts/material-design/material-design.min.css">
    <link rel="stylesheet" href="./assets/fonts/brand-icons/brand-icons.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,300italic">
    <link rel="stylesheet" href="./assets/fonts/MaterialDesign/materialdesignicons.min.css">

    <link href="css/materialdesignicons.min.css" media="all" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="./assets/fonts/flag-icon-css/flag-icon.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.0/clipboard.min.js"></script></head>

<body>
    <div class="loader-bg">
        <div class="loader-track">
            <div class="loader-fill"></div>
        </div>
    </div>
    <nav class="pcoded-navbar navbar-dark theme-horizontal default">
        <div class="navbar-wrapper">
            <div class="navbar-brand header-logo">
                <a href="https://freehesap.com/" class="b-brand">
                    <div class="b-bg">
                        <img class="navbar-brand-logo navbar-brand-logo-normal" src="https://freehesap.com/assets/images/logo.png" <img="" title="FreeHesap.com">
                    </div>
                    <span class="b-title">Datta Able</span>
                </a>
                <a class="mobile-menu" id="mobile-collapse" href="#!"><span></span></a>
            </div>
            <div class="navbar-content sidenav-horizontal sidenav" id="layout-sidenav">
                <a href="#" class="sidenav-horizontal-prev disabled"></a>
                <div class="sidenav-horizontal-wrapper">
						<ul class="nav pcoded-inner-navbar sidenav-inner" style="margin-left: 0px;">
							<li data-username="dashboard Default Ecommerce CRM Analytics Crypto Project" class="nav-item ">
								<a href="/" class="nav-link"><span class="pcoded-micon"><i class="feather icon-home "></i></span><span class="pcoded-mtext">Ana Sayfa</span></a>
							</li>
							<li data-username="dashboard Default Ecommerce CRM Analytics Crypto Project" class="nav-item ">
								<a href="/" class="nav-link"><span class="pcoded-micon"><i style="font-size:20px;" class="mdi mdi-spotify text-success"></i></span><span class="pcoded-mtext">Spotify</span></a>
							</li>
							<li data-username="dashboard Default Ecommerce CRM Analytics Crypto Project" class="nav-item">
								<a href="/contact" class="nav-link"><span class="pcoded-micon"><i style="font-size:20px;" class="feather icon-info "></i></span><span class="pcoded-mtext">İletişim</span></a>
							</li>
							
							
							
						</ul></div>												<!-- Global site tag (gtag.js) - Google Analytics --><script type="text/javascript" async="" src="https://www.google-analytics.com/analytics.js"></script><script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-105645782-2"></script><script>  window.dataLayer = window.dataLayer || [];  function gtag(){dataLayer.push(arguments);}  gtag('js', new Date());  gtag('config', 'UA-105645782-2');</script>
						
						
						
						    </div></div></nav>
    <header class="navbar pcoded-header navbar-expand-lg navbar-light">
        <div class="m-header">
            <a class="mobile-menu" id="mobile-collapse1" href="#!"><span></span></a>
            <a href="https://freehesap.com/" class="b-brand">
                <img class="navbar-brand-logo navbar-brand-logo-normal" width="180px" src="https://freehesap.com/assets/images/logo.png" title="FreeHesap.com">
            </a>
        </div>
        <a class="mobile-menu" id="mobile-header" href="#!">
            <i class="feather icon-more-horizontal"></i>
        </a>
        			<div class="collapse navbar-collapse">
<ul class="navbar-nav mr-auto">
<li><a href="#!" class="full-screen" onclick="javascript:toggleFullScreen()"><i class="feather icon-maximize"></i></a></li>
</ul>
<ul class="navbar-nav ml-auto">

</ul>
</div>
    </header>
    <div class="pcoded-main-container">
        <div class="pcoded-wrapper">
            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <div class="main-body">
                        <div class="page-wrapper">
                            <div class="alert alert-primary" role="alert">
											<center>
											<button type="button" class="close" data-dismiss="alert" aria-label="Close">
											</button>
											<i style="font-size:17px;" class="fa-youtube"></i> Sitemizin Videosunu Çekip Youtube Yükleyin, Bize İletin, Youtube Köşemize Videonuzu Ekleyelim.
											<a style="font-weight: bold;" href="/iletisim">Tıklayın İletin</a>
											</center>
										</div>							<center>                                <div class="row ">
								
                                    <div class="col-sm-12">
									<center>
                                        <div class="card">

                                            <div class="card-body">
                                                <h3>İletişim</h3>
                                                <hr>
                                              
												
                                                    <div class="col-md-5">

                                                        <form id="exampleStandardForm" autocomplete="off" novalidate="novalidate" method="post" action="">

                                                            <div class="form-group">
                                                                <label for="exampleInputEmail1">Ad</label>
                                                                <input type="text" name="isim" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                                                            </div>

                                                            <div class="form-group">
                                                                <label for="exampleInputEmail1">E-Posta</label>
                                                                <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="exampleInputPassword1">Konu</label>
                                                                <input type="text" name="konu" class="form-control" id="exampleInputPassword1">
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="exampleInputPassword1">Youtube Video Linkiniz Veya Mesajınızı Yazın</label>
                                                                <textarea rows="5" style="resize: none;" type="text" name="mesaj" class="form-control" id="exampleInputPassword1"></textarea>
                                                            </div>
<center>
                                                            <button type="submit" class="btn btn-primary"><i class="mdi mdi-subdirectory-arrow-right"></i>Gönder</button>
															<center>
                                                        
                                                    </center></center></form></div>
                                                </div>
                                            </div>

                                        </center></div>

                               
                                </div>
                        </center></div>
                    </div>
                </div>
            </div>
</div>    
 </div>
 	<center>
										<footer class="site-footer border border-success">
										<br>
											<div class="site-footer-center">© 2018 - 2020 Freehesap.com</div>
											<div class="site-footer-center">Oluşabilecek Olumsuz Durumlardan Freehesap.com Sitesi Sorumlu Değildir.</div>
											<br>
										</footer>
										</center>            <script src="./assets/js/vendor-all.min.js"></script>
            <script src="./assets/plugins/bootstrap/js/bootstrap.min.js"></script>
            <script src="./assets/js/pcoded.min.js"></script>
            <script src="./assets/plugins/prism/js/prism.min.js"></script>
            <script src="./assets/js/horizontal-menu.js"></script>


</body></html>