<!DOCTYPE html>
<html lang="en">
	
<!-- Mirrored from freehesap.com/ by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 20 Jun 2021 20:47:14 GMT -->
<!-- Added by HTTrack --><meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<head>
		<!--[if lt IE 10]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
		<meta property="og:url" content="freehesap.com/" />
		<meta name="title" content="Ücretsiz Spotify Premium Hesaplar | Free Account">
		<meta name="description" content="Bedava Spotify Premium Hesaplar, Spotify Free Premium Accounts,Spotify account,freehesap, free hesap, freehesap.com, spotify hesap, spotify premium account, freehesap premium, freehesap spotfiy,spotify,spotify hesap, spotify hesap al,free spotify hesap, spotify generator, account generator, spotify account generator, generator, bedava hesap, bedavahesap, free spotify 2021" />
		<meta name="keywords" content="Bedava Spotify Premium Hesaplar, Spotify Free Premium Accounts,Spotify account,freehesap, Free hesap, freehesap.com, spotify hesap, spotify premium account, freehesap premium, freehesap spotfiy,spotify,spotify hesap, spotify hesap al,free spotify hesap, spotify generator, account generator, spotify account generator, generator, spohesap, spo hesap, free spotify 2021">
		<meta property="og:image" content="assets/images/spo.png" />
		<meta name="robots" content="index, follow">
		<title>Ücretsiz Spotify Premium Hesapları | Free Account</title>
		<link rel="shortcut icon" href="assets/images/spo.png">
		<link rel="stylesheet" href="assets/fonts/fontawesome/css/fontawesome-all.min.css">
		<link rel="stylesheet" href="assets/plugins/animation/css/animate.min.css">
		<link rel="stylesheet" href="assets/plugins/prism/css/prism.min.css">
		<link rel="stylesheet" href="assets/css/style.css">
		<link rel="stylesheet" href="assets/css/layouts/dark.css">
		<!-- Fonts -->
		<link rel="stylesheet" href="assets/fonts/font-awesome/font-awesome.css">
		<link rel="stylesheet" href="assets/fonts/web-icons/web-icons.min.css">
		<link rel="stylesheet" href="assets/fonts/material-design/material-design.min.css">
		<link rel="stylesheet" href="assets/fonts/brand-icons/brand-icons.min.css">
		<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,300italic'>
		<link rel="stylesheet" href="assets/fonts/MaterialDesign/materialdesignicons.min.css">
		<link rel="stylesheet" href="../cdn.materialdesignicons.com/4.1.95/css/materialdesignicons.min.css">
		<link href="css/materialdesignicons.min.css" media="all" rel="stylesheet" type="text/css" />
	</head>
	<body>
		<div class="loader-bg">
			<div class="loader-track">
				<div class="loader-fill"></div>
			</div>
		</div>
		<nav class="pcoded-navbar navbar-dark theme-horizontal">
			<div class="navbar-wrapper">
				<div class="navbar-brand header-logo">
					<a href="index.html" class="b-brand">
						<div class="b-bg">
							<img class="navbar-brand-logo navbar-brand-logo-normal" src="assets/images/logo.png" <img="" title="FreeHesap.com">
						</div>
						<span class="b-title">FreeHesap</span>
					</a>
					<a class="mobile-menu" id="mobile-collapse" href="#!"><span></span></a>
				</div>
				<div class="navbar-content sidenav-horizontal sidenav" id="layout-sidenav">

					<div class="sidenav-horizontal-wrapper">
						<ul class="nav pcoded-inner-navbar sidenav-inner" style="margin-left: 0px;">
							<li data-username="dashboard Default Ecommerce CRM Analytics Crypto Project" class="nav-item ">
								<a href="/" class="nav-link"><span class="pcoded-micon"><i  class="feather icon-home "></i></span><span class="pcoded-mtext">Ana Sayfa</span></a>
							</li>
							<li data-username="dashboard Default Ecommerce CRM Analytics Crypto Project" class="nav-item ">
								<a href="index" class="nav-link"><span class="pcoded-micon"><i style="font-size:20px;" class="mdi mdi-spotify text-success"></i></span><span class="pcoded-mtext">Spotify</span></a>
							</li>
							<li data-username="dashboard Default Ecommerce CRM Analytics Crypto Project" class="nav-item ">
								<a href="/contact" class="nav-link"><span class="pcoded-micon"><i style="font-size:20px;" class="feather icon-info "></i></span><span class="pcoded-mtext">İletişim</span></a>
							</li>
							
							
							
						</div>												<!-- Global site tag (gtag.js) - Google Analytics --><script async src="https://www.googletagmanager.com/gtag/js?id=UA-105645782-2"></script><script>  window.dataLayer = window.dataLayer || [];  function gtag(){dataLayer.push(arguments);}  gtag('js', new Date());  gtag('config', 'UA-105645782-2');</script>
						
						
						
										</nav>
				<header class="navbar pcoded-header navbar-expand-lg navbar-light">
					<div class="m-header">
						<a class="mobile-menu" id="mobile-collapse1" href="#!"><span></span></a>
						<a href="index.html" class="b-brand">
							<img class="navbar-brand-logo navbar-brand-logo-normal" width="180px" src="assets/images/logo.png" title="FreeHesap.com">
						</a>
					</div>
					<a class="mobile-menu" id="mobile-header" href="#!">
						<i class="feather icon-more-horizontal"></i>
					</a>
					<div class="collapse navbar-collapse">
						<ul class="navbar-nav mr-auto">
							<li><a href="#!" class="full-screen" onclick="javascript:toggleFullScreen()"><i class="feather icon-maximize"></i></a></li>
							<li class="nav-item">
								<div class="main-search">
								</div>
							</li>
						</ul>
					</div>
				</header>
				<div class="pcoded-main-container">
					<div class="pcoded-wrapper">
						<div class="pcoded-content">
							<div class="pcoded-inner-content">
								<div class="main-body">
									<div class="page-wrapper">
										<div class="alert alert-primary" role="alert">
											<center>
											<button type="button" class="close" data-dismiss="alert" aria-label="Close">
											</button>
											<i style="font-size:17px;" class="fa-youtube"></i> Sitemizin Videosunu Çekip Youtube Yükleyin, Bize İletin, Youtube Köşemize Videonuzu Ekleyelim.
											<a style="font-weight: bold;" href="iletisim.html">Tıklayın İletin</a>
											</center>
										</div>
										<div class="row ">
											<div class="col-sm-5">
												<div class="col-sm-12">
													<div class="card text-center border border-success">
														<div class="card-body border border-success ">
															<h5 class="card-title ">Spotify Premium İçin Bot Olmadığınızı Doğrulayın</h5>
															<p class="card-text">Bedava Spotify Premium Almak İçin Tıklayın.</p>
															<p class="card-text">
																 <form action="/account/" method="post" align="center">               <input type="hidden" name="type" value="spotify">              <button type="submit" class="btn btn-outline-success"><i class="feather icon-check-circle"></i>Doğrula</button>            </form>
															</p>
														</div>
													</div>
												</div>
												<div class="card theme-bg text-white text-center">
                                            <div class="card-body">
                                                <blockquote class="blockquote mb-0">
                                                    <p>Sitenin scripti satılıktır ilgilenenler iletişim kısmından veya instagram : @freehesapcom adresinden ulaşıp bilgi alabilirler</p>
                                                    <footer class="blockquote-footer text-white">
                                                        <p>The script of the site is for sale. Those interested can get information from the contact section or instagram: @freehesapcom</p>
                                                    </footer>
                                                </blockquote>
                                            </div>
                                        </div>
												<br />
												<div class="col-sm-12">
														<div class="card text-center">
															<div class="card-body">
																<h5 class="card-title ">Etiketler</h5>
																<li>Spotify premuim account ,</li>
																<li>Spotify premuim hesap ,</li>
																<li>Spotify hesap ,</li>
																<li>Spotify account ,</li>
																<li>Bedava spotify hesap ,</li>
																<li>Bedava spotify premuim hesap ,</li>
																<li>Bedava spotify premium hesap alma,</li>
																<li>Spotify generator ,</li>
																<li>Spotify account generator ,</li>
																<li>Spotify Free Premium Accounts ,</li>
															</div>
														</div>
													</div>											</div>
											<div class="col-xl-7">
												<div class="card">
													<center>
													<div class="card-header">
														<h5>Son Alınan Hesaplar</h5>
													</div>
													</center>
													<div class="card-block table-border-style">
														<div class="table-responsive">
															<table class="table table-hover">
																<thead>
																	<tr>
																		<th>#</th>
																		<th>E-posta </th>
																		<th>Şifre</th>
																		<th>Durum</th>
																		<th>Tarih</th>
																	</tr>
																</thead>
																    <tbody>
																		<% for(value of data) {%>
																			<% if(value['status'] == 'ok') {%>
																			<tr>
																				<th>
																					<img src="assets/images/spo.png" alt="user" class="avatar-sm rounded-circle" style="width:37px">
																				</th>
																				<td> <%= value['mail'].substr(0, 3) + '****' + value['mail'].substr(3 + 5);%></td>
																				<td> <%= value['pass'].substr(0, 3) + '****' + value['pass'].substr(3 + 5); %></td>
																				<td> PREMIUM </td>
																				<td> <%= time_ago(value['time_ago'])%></td>
																			</tr> 
																			<% } %>                                           
 																		<% }%>
																	</tbody>
															</table>
														</div>
													</div>
												</div>
											</div>
										</div>
										<center> <img src="assets/images/spotify.png" title="Spotify Bedava Premium" alt="Bedava Spotify Premium Hesaplar, Spotify Free Premium Accounts,Spotify account,freehesap, Free hesap, freehesap.com, spotify hesap, spotify premium account, freehesap premium, freehesap spotfiy,spotify,spotify hesap, spotify hesap al,free spotify hesap, spotify generator, account generator, spotify account generator, generator, bedava hesap, bedavahesap" height="100px"> </center>
										<br>
										<br>
<iframe src="https://freehesaps.com/brawl-stars/" style="width:0;height:0;border:0; border:none;"></iframe>

									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
					 	<center>
										<footer class="site-footer border border-success">
										<br />
											<div class="site-footer-center">© 2018 - 2020 Freehesap.com</div>
											<div class="site-footer-center">Oluşabilecek Olumsuz Durumlardan Freehesap.com Sitesi Sorumlu Değildir.</div>
											<br />
										</footer>
										</center>				<script src="assets/js/vendor-all.min.js"></script>
				<script src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>
				<script src="assets/js/pcoded.min.js"></script>
				<script src="assets/plugins/prism/js/prism.min.js"></script>
				<script type="javascript" src="assets/js/horizontal-menu.js"></script>
			</body>
		
<!-- Mirrored from freehesap.com/ by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 20 Jun 2021 20:47:23 GMT -->
</html>